<!DOCTYPE html>
<html>

<head> <% include ./static/head %> </head>

<body>
<header> <% include ./static/header %></header>

<section id="subtitle">
    <div id="subtitle_box"> <%= subtitle %></div>
</section>

<section id="main_section">

    <div id="about_image">
        <img src="./images/bp_logo.png">
    </div>

    <div id="about_text">
        <strong>We are Benepicture</strong><br>
        <span>복권, 살지 말지 고민하지 말고 언제 어디서나 무료로 이용할 수 있는 <strong>베네픽쳐</strong>를 통해 <strong>대박</strong>의 기회를 획득하세요.<span>
    </div>

    <div id="about_history">
    </div>

</section>

<footer> <% include ./static/footer %> </footer>

</body>

</html>
