<!DOCTYPE html>
<html>

<head> <% include ./static/head %> </head>

<body>
<header> <% include ./static/header %> </header>
<section id="subtitle">
    <div id="subtitle_box"> <%= subtitle %></div>
</section>

<section id="main_section" style="height : auto;">

    <div id="map_main_text">
        <iframe id="map_image" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3176.1309522448532!2d127.05661251570396!3d37.24460037985949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b4493a001389d%3A0x49c7eca784898287!2z6rK96riw64-EIOyImOybkOyLnCDsmIHthrXqtawg7JiB7Ya164-ZIOyYge2GteuhnDIwMOuyiOq4uCAzOQ!5e0!3m2!1sko!2skr!4v1569300440828!5m2!1sko!2skr" frameborder="0"></iframe>
        <span class="map_title">회사명</span><br>
        <span class="map_body_text">Dayonglee</span><br>

        <span class="map_title">대표이사</span><br>
        <span class="map_body_text">이다용</span><br>

        <span class="map_title">사업자등록번호</span><br>
        <span class="map_body_text">814-25-00800</span><br>

        <span class="map_title">주소</span><br>
        <span class="map_body_text">경기도 수원시 영통구 영통동 영통로200번길 39</span><br>

        <span class="map_title">E-mail</span><br>
        <span class="map_body_text">dayongleeschedule@gmail.com</span><br><br>
    </div>
</section>

<footer> <% include ./static/footer %> </footer>

</body>

</html>
