<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./static/head %>
</head>

<body>
<section id="main_section">
    <header>
        <% include ./static/header %>
    </header>
    <div class="index_div">
        <div class="slideshow-container">
            <div class="mySlides fade">
                <img src="images/img1.png" class="img_size">
            </div>
            <div class="mySlides fade">
                <img src="images/img2.png" class="img_size">
            </div>
        </div>
    </div>
    <div class="index_div">
        <div class="index_div_notice index_border">
            <p style="font-size : 25px; display:inline;">공지사항</p>
            <a class="far fa-plus-square" style="font-size : 20px" href="/notice?page=1"></a>
            </button>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>제목</th>
                </thead>
                <tbody>
                <% for(var i = 0;i < 1;i++){ %>
                    <tr>
                        <td><a href="/notice/<%= data[i]._id %>"><%= data[i].title %> </a></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
        <div class="index_right_div index_div_bp index_border">
            <div>
                <p class="index_text_center" style="font-size: 15px;">국내 최초,무료로 복권서비스를 이용할 수 있는 어플리케이션</p>
                <div style="text-align: center; margin-left: auto; margin-right: auto;">
                    <a href="./download/introduction_media.pdf">
                        <button class="button button--winona button--border-thin button--round-s index_introduce" data-text="베네픽쳐 소개서"><span class="fas fa-file-pdf"> 베네픽쳐 소개서</span>
                        </button>
                    </a>
                    <a href="./download/introduction_product.pdf">
                        <button class="button button--winona button--border-thin button--round-s index_introduce" data-text="광고 상품 소개서">
                            <span class="fas fa-file-pdf"> 광고 상품 소개서</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="index_right_div index_div_ask index_border">
            <p class="index_text_center">베네픽쳐에 대해 궁금한점들을 물어봐주세요</p>
            <div class="index_right_div_ad index_text_center">
                <a href="/ask" class="cta">
                    <span>문의 하러가기</span>
                    <span class="fas fa-arrow-right"></span>
                </a>
            </div>
        </div>

        <div class="index_right_div index_div_ask index_border">
            <p class="index_text_center">베네픽쳐에 광고를 의뢰하고 싶다면?</p>
            <div class="index_right_div_ad index_text_center">
                <a href="./download/introduction_product.pdf" class="index_intro_ad">
                </a>
                <a href="/question" class="cta">
                    <span>광고 신청하러가기</span>
                    <span class="fas fa-arrow-right"></span>
                </a>
            </div>
        </div>
    </div>
</section>
<footer>
    <% include ./static/footer %>
</footer>
</body>
<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        slides[slideIndex-1].style.display = "block";

        setTimeout(showSlides, 4000); // Change image every 2 seconds
    }

</script>

</html>
