<!DOCTYPE html>
<html>

<head> <% include ./static/head %> </head>

<body>
<header> <% include ./static/header %> </header>

<section id="subtitle">
    <div id="subtitle_box"> <%= subtitle%> </div>
</section>

<section id="main_section">
   <div class="panel panel-info">
       <div class="panel-heading">
           <h3 class="panel-title"><%= data.title %> </h3>
       </div>
       <div class="panel-body"> <%- data.body.replace(/\r\n/g,'<br>');%>
       </div>

   </div>
    <a class="pager" href="javascript:history.back()"><button class="btn btn-info">Back</button></a>
</section>

<footer> <% include ./static/footer %> </footer>

</body>
</html>
