<meta charset="utf-8" />
<meta name="naver-site-verification" content="9a314a62cda3144841330a60ae97d3be59787ed2"/>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" media="(max-width : 675px)" href="/stylesheets/mobile.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<title>베네픽쳐</title>
<meta name="description" content="국내 최초,무료로 복권서비스를 이용할 수 있는 어플리케이션 베네픽쳐">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/fda62e292d.js" crossorigin="anonymous"></script>

<meta property="og:type" content="website">
<meta property="og:title" content="베네픽쳐">
<meta property="og:description" content="국내 최초,무료로 복권서비스를 이용할 수 있는 어플리케이션 베네픽쳐">
<meta property="og:image" content="/images/bp_main_image.png">
<meta property="og:url" content="http://www.benepicture.com">

<link rel="canonical" href="http://www.benepicture.com">
