<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <% include ../static/head %>
</head>
<body>
<header>

</header>
<div class="posts">
    <!-- main start-->

    <!-- views/posts/index.ejs -->
    <div class="edit">
        <h3>Edit Post</h3>
        <form class="posts_form" action="/posts/<%=data._id%>?_method=put" method="post">
            <label class="col-sm-2 control-label">제목</label>
            <input class="form-control" type="text" name="post[title]" value="<%= data.title%>">
            <label class="col-sm-2 control-label">내용</label>
            <textarea class="form-control" rows="10" name="post[body]"><%= data.body%></textarea>
            <br>
            <button class="form-control" type="submit">게시글 수정</button>
        </form>
        <a href="javascript:history.back()"><button class="btn btn-default">Back</button>
    </div>

    <!-- main end -->
</div><!--posts end -->
</body>
</html>